---
layout: resume
---

<section>
<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.period }}</p>
        </dt><!--
        --><dd>
            <p class="description">{{ qualification.description | markdownify }}</p>
        </dd>
    {% endfor %}
</dl>
</section>

<section class="research-statement">
<h3 class="section-title">Research Overview</h3>
<p>{{ site.data.resume.research_statement | markdownify }}</p>

<p><a href="/pdf/banerjs_thesis.pdf">Thesis</a></p>
</section>

<section>
<h3 class="section-title">Publications</h3>
    <p class="title">Journal Articles</p>
    {% bibliography --file cv -q @article %}

    <p class="title">Conference Proceedings</p>
    {% bibliography --file cv -q @inproceedings %}

    <p class="title">Workshops / Symposia / Other</p>
    {% bibliography --file cv -q @misc %}
</section>

<!-- <section class="other">
<h3 class="section-title"></h3>
TODO: Add the press coverage stuff.
</section> -->

<section>
<h3 class="section-title">Work Experience</h3>
<dl class="experience">
    {% for job in site.data.experience %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <p class="period">{{ job.period }}</p>
        </dt><!--
        --><dd>
            <p class="description">{{ job.description | markdownify }}</p>
        </dd>
    {% endfor %}
</dl>
</section>
