<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}/blog">
          Blog
        </a>
      </h1>
      <p class="lead">A few musings for posterity</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{ site.url }}">About Me</a>
      <a class="sidebar-nav-item active" href="{{ site.url }}/blog">Blog</a>
      <a class="sidebar-nav-item" href="{{ site.github_url }}" target="_blank">GitHub</a>
      <a class="sidebar-nav-item" href="{{ site.scholar_url }}" target="_blank">Scholar</a>
    </nav>

    <p class="footer__credits">Theme credits to: <a href="https://github.com/poole/hyde" target="_blank">hyde</a></p>
  </div>

{% include ga_footer.html %}
</div>
