<header>
    <div class="container">
        <div class="image">
            <img src="/img/profilepic.jpg" width="250px" alt="profile picture">
        </div>

        <div class="intro">
            <p class="intro__pre">Hello</p>
            <p class="intro__main">My name is <span>{{ site.name }}</span>, a {{ site.data.resume.title }}</p>
            <p class="intro__post">{{ site.data.resume.location }}</p>
        </div>

        <div class="social">
            {{ if site.data.resume.github_url }}<a href="{{ site.data.resume.github_url }}" target="_blank">GitHub</a>{{ endif }}
            {{ if site.data.resume.email }}<a href="mailto:{{ site.data.resume.email }}" target="_blank">Email</a>{{ endif }}
            {{ if site.data.resume.linkedin_url }}<a href="{{ site.data.resume.linkedin_url }}" target="_blank">LinkedIn</a>{{ endif }}
            {{ if site.data.resume.scholar_url }}<a href="{{ site.data.resume.scholar_url }}" target="_blank">Scholar</a>{{ endif }}
            {{ if site.data.resume.twitter_url }}<a href="{{ site.data.resume.twitter_url }}" target="_blank">Twitter</a>{{ endif }}
            <!-- {{ if site.data.resume.researchgate_url }}<a href="{{ site.data.resume.researchgate_url }}" target="_blank">ResearchGate</a>{{ endif }} -->
            {{ if site.data.resume.goodreads_url }}<a href="{{ site.data.resume.goodreads_url }}" target="_blank">Goodreads</a>{{ endif }}
        </div>
    </div>
</header>
