// @name Blog
// @description All blog styles

// Import the fonts
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface);

// Sidebar credits
.sidebar {
    .footer__credits {
        font-size: 0.7rem;
    }
}

// Posts. Includes the actual post content itself
.post {
    line-height: 1.4;

    small {
        font-size: 0.9rem;
    }

    sup {
        vertical-align: super;
        font-size: 0.7rem;
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: disc;
    }

    ol, ul, dl {
        list-style-position: outside;

        li {
            margin-bottom: 0.4rem
        }
    }

    .footnotes {
        font-size: 0.8rem;
    }
}
