---
---
{{ reference }}

{% if entry.privateurl %}
{% assign urls = (entry.privateurl | split: " ") %}

{% for url in urls %}
<span><a href="{{ url | replace: 'website://' '' | replace: 'media://' '' }}" target="_blank">{% if url contains 'website://' %}download{% elsif url contains 'media://' %}media{% else %}link{% endif %}</a>&nbsp;</span>
{% endfor %}

{% endif %}
<span class="bibtex"><a href="#{{ entry.key }}" onclick="clicked_bib('bibtex-{{ entry.key }}')">bib</a><pre id="bibtex-{{ entry.key }}">{{ entry.bibtex }}</pre></span>
